* {
  box-sizing: border-box;
}

body {
  color: rgb(227, 229, 228);
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  font-family: 'Roboto', sans-serif;
  background-size: 300% 300%;
}

/*Navbar*/
.navbar {
  min-height: 30px;
  color: rgb(227, 229, 228);
  border-bottom: 1px solid #555555;
}

.navbar-text {
  height: 30px;
  margin: 10px;
  float: left;
}

/*Box Model*/
.wrapper {
  width: 1024px;
  margin: 40px auto 40px auto;
}

/*Main Container*/
.container {
  width: 1024px;
  padding: 30px;
}

/*Accordian*/
.card {
  padding: 20px;
  height: 415px;
  background-color: rgba(21, 21, 21, 0.2);
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
}

.card-header {
  border: 0px;
  font-weight: 500;
  color: rgb(227, 229, 228);
  background-color: rgba(21, 21, 21, 0.5);
  height: 50px;
}

#title {
  font-weight: 700;
  line-height: 0;
}

#card-image {
  height: 200px;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
  font-size: 10px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
  font-size: 10px;
}

/*Fixed Footer*/
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

/*Media Queries*/

@media screen and (max-width: 980px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

  .navbar {
    width: 100%;
  } 
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  
  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

    .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 256px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  
  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

    .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 168px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }

  .container {
    width: 100%;
  }

  .col-25, .col-75 {
    width: 100%;
  }

    .navbar {
    width: 100%;
  }
}